.home {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #3e4a61;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.intro-section {
  text-align: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-picture:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.featured-projects, .skills-overview, .youtube-videos {
  margin-bottom: 20px;
}

.projects-list, .video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card, .video-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover, .video-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #3498db; /* Updated to match the project's primary color */
}

.project-card h3, .video-card p {
  color: #3498db; /* Updated to match the project's primary color */
}

.skills-overview ul {
  list-style-type: none;
  padding: 0;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.skills-overview ul li {
  background-color: #0092ca; /* Existing background color */
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.skills-overview ul li:hover {
  background-color: #007bb5; /* Slightly darker shade for hover effect */
  transform: scale(1.05);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.contact-info {
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  color: #3498db; /* Updated to match the project's primary color */
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #2980b9; /* Updated to match the project's hover color */
}

.video-card iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border: none;
}

h2, h3, p {
  text-align: center;
}